body {background-color: #85D2D0}

#title-header {
    /* height: 25vh; */
    display: grid;
    gap: 1px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    /* border: 3px azure solid; */
}

#header-image {
    display: flex;
    grid-column: 1 / span 4; /* Spans the first four columns */
    grid-row: 1; /* Occupies the first row */
    /* border: 3px black solid; */
}


#daily-advice {
    display: grid;
    margin-left: 100px;
    margin-right: 100px;
    align-items: center;
    justify-content: center;    
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: #ffffff;
    border-radius:100px;
    border: 3px black solid;
}

#container {
    /* height: 75hv; */
    margin-top: 25px;
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    /* border: 3px blue solid; */
    font-family: 'Big Shoulders Display', sans-serif;
    font-size:20px;
    font-weight: 700;
    color:#887BB0
}

#form-div {
    display: grid;
    background-color: #fff;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-rows:1fr 1fr 1fr;
    align-items: center;
    justify-content: center;    
    border: 5px white solid;
    border-radius: 25px;
    grid-column: span 1;
    grid-row:span 1;
}
#form-input-label {
    display: flex;
    grid-column: span 1;
    /* border: 3px solid black; */
    
}
#form-title {
    /* border: 3px black solid; */
    display:flex;
    grid-column: span 4;
    align-content:end;
}

#new-task {
    display: flex;
    background-color: #85D2D0;
    /* border: 3px green solid; */
    grid-column: span 1;
    grid-row: span 2;    
}

#submit-new-task {
    background-color:aquamarine;
    /* border: 3px #887BB0 solid; */
    border: 0px aquamarine solid;
    border-radius: 5px;
    box-shadow: 10px 5px 5px #887BB0;
}

#motive-div {
    display: flex;
    /* border: 5px teal solid; */
    background-color: #fff;
    border-radius: 25px;
    grid-column: span 2;
    grid-row:span 1;
    align-items: center;
    justify-content: center;    
}
#motivational-phrase {
    font-size: 75px;;
}

#main-task-list-div {
    display: flex;
    background-color: #fff;
    grid-column: span 1;
    grid-row:span 2;
    border: 5px #887BB0 solid;
    border-radius: 25px;
    align-items: top;
    justify-content: center;
}
#completed-task-list-div {
    display: flex;
    background-color: #fff;
    grid-column: span 1;
    grid-row:span 2;
    border: 5px aquamarine solid;
    border-radius: 25px;
}
#suggested-task-div {
    display: flex;
    background-color: #fff;
    grid-column: span 1;
    grid-row:span 2;
    border: 5px #01B9CC solid;
    border-radius: 25px;
}
#completed-btn {
    background-color:aquamarine;
    /* border: 3px #887BB0 solid; */
    border: 0px aquamarine solid;
    border-radius: 5px;
    box-shadow: 10px 5px 5px #887BB0;
    margin: 25px;
    padding: 5px
}